{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}
<h1>Add Countdown</h1>

{#    Now: {{ now }}#}
{#    <br/>#}
{##}
{#    Timestamp: {{ countdown_timestamp }}#}

<form method="POST" action="/add-countdown">
  <div class="row g-6 align-items-center mx-auto">
      <div class="col-auto"><label for="new-countdown" class="col-form-label">Countdown name:</label></div>
      <div class="col-5">
        <input
        type="text"
        class="form-control"
        id="new-countdown"
        name="new-countdown"
        placeholder="Enter Countdown Name"
      />
    </div>
      <div class="col-auto">
          <label for="countdown-date">Date:</label>
          <input type="date" id="countdown-date" name="countdown-date">
      </div>
      <div class="col-auto">
          <label for="countdown-time">Time:</label>
          <input type="time" id="countdown-time" name="countdown-time">
      </div>
      <div class="col-auto">
      <Button type="submit" name="add-countdown-event" class="btn btn-primary" >
        Add
        </Button>
    </div>
  </div>
</form>

{% if item_list %}

<div class="row align-items-center">
  <div class="col-12">
    <ul class="list-group">
        {% for item in item_list %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-3 col-sm-3">
                    <input
                        id="edit-item"
                        name="edit-item"
                        class="form-control" type="text" value="{{ item.name }}" aria-label="input">
                </div>
                <div class="col-3 col-sm-3">
                    {{ item.countdown_timestamp }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
    <form method="POST" action="/add-countdown">
        <Button type="submit" name="delete-all-event" class="btn btn-danger">
        Delete all
        </Button>
  </form>
</div>

{% endif %}



{% endblock %}