{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}
<h1>Events</h1>

<form method="POST">
  <div class="row g-6 align-items-center">
    <div class="col-auto">
      <label for="new-event" class="col-form-label">Event name</label>
    </div>
      <div class="col-6">
        <input
        type="text"
        class="form-control"
        id="new-event"
        name="new-event"
        placeholder="Event name"
      />
    </div>
    <div class="col-auto">
      <Button type="submit" name="add-event" class="btn btn-primary" >
        Add
        </Button>

    </div>
  </div>
</form>
<br />

{% if eventLists %}

<div class="row align-items-center">
  <div class="col-12">
    <ul class="list-group">
      {% for event in eventLists %}
      <li class="list-group-item">
          <form method="POST">
              <div class="row">
                <div class="col-9">
                    <input class="form-control" type="text" value="{{ event.name }}" aria-label="readonly input example" readonly>
                </div>
                <div class="col-3">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <Button type="submit" name="delete-event" value="{{ loop.index0 }}" class="btn btn-danger" >
                      Delete
                      </Button>
                    </div>
                </div>
              </div>
          </form>

          </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
<div class="row">
  <form method="POST">
    <Button type="submit" name="delete-all" class="btn btn-danger">
    Delete all
    </Button>
  </form>
</div>

{% endblock %}
