{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}
<h1>Upcoming</h1>

<h3>Pick type to add</h3>

<div class="my-3">
    <a>Add ToDo</a>
    <span class="px-2"><a href="/add-countdown">Add Countdown</a></span>
</div>


<form method="POST">
  <div class="row g-6 align-items-center mx-auto">
    <div class="col-auto">
      <label for="new-item" class="col-form-label">Add new item</label>
    </div>
      <div class="col-6">
        <input
        type="text"
        class="form-control"
        id="new-item"
        name="new-item"
        placeholder="Name"
      />
    </div>

    <div class="col-auto">
      <Button type="submit" name="add-event" class="btn btn-primary" >
        Add
        </Button>
    </div>
      {% if error == True  %}
          <div class="col-6 fw-bold text-danger">
            Please enter text in name.
          </div>
      {% endif %}
  </div>
</form>
<br />

{% if item_list %}

<div class="row align-items-center">
  <div class="col-12">
    <ul class="list-group">
      {% for item in item_list %}
      <li class="list-group-item">
          <form method="POST">
              <div class="row">
                  {% if item.is_complete == True and item.is_edit == False %}
                <div class="col-9 col-sm-6">
                    <input class="form-control-plaintext text-decoration-line-through" type="text" value="{{ item.name }}" aria-label="readonly input" readonly>
                </div>
                <div class="col-3 col-sm-6">
                        <Button type="submit" name="incomplete-event" value="{{ loop.index0 }}" class="btn btn-outline-success" >
                            Incomplete
                        </Button>
                        <Button type="submit" name="edit-event" value="{{ loop.index0 }}" class="btn btn-secondary">
                            Edit
                        </Button>
                        <Button type="submit" name="delete-event" value="{{ loop.index0 }}" class="btn btn-danger" >
                            Delete
                        </Button>
                </div>
                  {% elif item.is_complete == True and item.is_edit == True %}
                      <div class="col-9 col-sm-6">
                    <input
                            id="edit-item"
                            name="edit-item"
                            class="form-control-plaintext text-decoration-line-through" type="text" value="{{ item.name }}" aria-label="input">
                </div>
                <div class="col-3 col-sm-6">
                        <Button type="submit" name="incomplete-event" value="{{ loop.index0 }}" class="btn btn-outline-success" >
                            Incomplete
                        </Button>
                        <Button type="submit" name="edit-event" value="{{ loop.index0 }}" class="btn btn-secondary">
                            Edit
                        </Button>
                        <Button type="submit" name="delete-event" value="{{ loop.index0 }}" class="btn btn-danger" >
                            Delete
                        </Button>
                </div>
                  {% elif item.is_complete == False and item.is_edit == True %}
                      <div class="col-9 col-sm-6">
                    <input
                            id="edit-item"
                            name="edit-item"
                            class="form-control" type="text" value="{{ item.name }}" aria-label="input">
                </div>
                <div class="col-3 col-sm-6">
                        <Button type="submit" name="complete-event" value="{{ loop.index0 }}" class="btn btn-success" >
                            Complete
                        </Button>
                        <Button type="submit" name="save-event" value="{{ loop.index0 }}" class="btn btn-secondary">
                            Save
                        </Button>
                        <Button type="submit" name="delete-event" value="{{ loop.index0 }}" class="btn btn-danger" >
                            Delete
                        </Button>
                </div>
                  {% else %}
                      <div class="col-9 col-sm-6">
                          <input class="form-control" type="text" value="{{ item.name }}" aria-label="readonly input" readonly>
                      </div>
                      <div class="col-3 col-sm-6">

                            <Button type="submit" name="complete-event" value="{{ loop.index0 }}" class="btn btn-success" >
                                Complete
                            </Button>
                            <Button type="submit" name="edit-event" value="{{ loop.index0 }}" class="btn btn-secondary">
                                Edit
                            </Button>
                            <Button type="submit" name="delete-event" value="{{ loop.index0 }}" class="btn btn-danger" >
                                Delete
                            </Button>
                      </div>

                  {%  endif %}
              </div>
          </form>

          </li>
      {% endfor %}
    </ul>
  </div>
</div>
    <div class="row">
        <form method="POST">
            <Button type="submit" name="delete-all-event" class="btn btn-danger">
            Delete all
            </Button>
      </form>
    </div>
{% endif %}


{% endblock %}
